:host{
    background-color: #ffffff;
    color: black;
    .customer-manage-container{
        margin-left: 32px;
        margin-right: 32px;
        padding: 32px;
        border-radius: 16px !important;
        box-shadow: 0px 0px 4px 1px #807777b0;
        label{
            font-size: 18px;
            margin-right: 5px;
            margin-top: 4px;
            line-height: 25px;
        }
        input{
            border: 3px solid #827f7f;
            border-radius: 24px;
            padding-left: 10px;
        }
    }
}