<div class="card customer-manage-container">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8">
                        <app-file-handler (uploaded)="getUploadedFile($event)" [fileExt]="'csv'" [headerInfo]="'Upload customer data'"></app-file-handler>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="customerList.length > 0">
            <div class="col-lg-12 mt-4">
                <label>Search Customer(s) with minimal issue count(s)</label>
                <input type="number" [(ngModel)]="searchCount"/>
            </div>
        </div>
        <div class="row" *ngIf="customerList.length > 0">
            <div class="col-lg-12 mt-5">
                <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Issue Count</th>
                        <th scope="col">Date of Birth</th>
                      </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let customer of customerList; let i = index">
                            <tr *ngIf="customer.issueCount >= (searchCount ? searchCount:0 )">
                                <th scope="row">{{i+1}}</th>
                                <td>{{customer.firstName}}</td>
                                <td>{{customer.lastName}}</td>
                                <td>{{customer.issueCount}}</td>
                                <td>{{ customer.dateOfBirth | date:'MMMM dd,yyyy'}}</td>
                              </tr>
                        </ng-container>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="row" *ngIf="invalidCustomerList.length > 0">
            <div class="col-lg-12"><h4 class="text-danger">*Below row(s) are having invalid data</h4></div>
        </div>
        <div class="row" *ngIf="invalidCustomerList.length > 0">
            <div class="col-lg-12 mt-5">
                <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Issue Count</th>
                        <th scope="col">Date of Birth</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let customer of invalidCustomerList; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{customer.firstName}}</td>
                        <td>{{customer.lastName}}</td>
                        <td>{{customer.issueCount}}</td>
                        <td>{{ customer.dateOfBirth }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
