<div class="fileContainer">
      <div class="row row d-flex justify-content-start">
        <div class="col-lg-12">
                <label *ngIf="headerInfo">{{ headerInfo }}</label>
                <input
                  type="file"
                  id="fileupload"
                  [multiple]="isMultiple"
                  (change)="onFileChange($event)"
                />
                <span>(.{{ fileExt }} format(s))</span>
        </div>
      </div>
    <div class="col-lg-12" *ngFor="let e of errors; let i = index">
      <span class="text-danger" *ngIf="errors.length > 0">
        * {{ e }}
      </span>
    </div>
</div>
