.fileContainer {
    overflow: hidden;
    position: relative;
    text-align: start;
    label{
        font-size: 18px;
        margin-right: 16px;
    }
    span{
        font-size: 14px;
        font-weight: 200;
        color: #535857;
    }
    input{
        background-color: #f1f0f0;
        font-weight: 400;
        font-size: 14px;
    }
}

