<!--The content below is only a placeholder and can be replaced.-->
<div class="content customer-app">
    <h1>
      Rabobank
    </h1>
    <div class="row">
        <div class="col-lg-12 p-4 mt-2">
            <app-customer-manage></app-customer-manage>
        </div>
    </div>
</div>